.main {
    padding: 0 500px;
    text-align: center;
    width: 100vw;
    margin: 80px auto
}

.form {
    padding: 70px 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.img {
    height: 70%;
    width: 90%;
    border-radius: 10px;
}

.button {
    color: white;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
    background-color: rgb(50, 98, 193);
}

.button:hover {
    background-color: rgb(18, 64, 156);
}