.main {
    display: grid;
    grid-template-columns: 55% 45%;
    margin: 30px;
    padding: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    row-gap: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.img {
    height: 70%;
    width: 90%;
    border-radius: 10px;
}

.button {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(50, 98, 193);
}